
<div class="container">
    <div class="contenet">
        
        <section class="conten_img">
            <img [src]="productInfo.image" alt="img">
        </section>


        <section class="cotent_info">
            <section  class="cotent_info_cont" >
                <h2>{{productInfo.title}}</h2>
                <div class="container_card_ran">
                    <div class="container_star_rank">
                        @if(!productInfo.rate){
                            <img src="https://cdn-icons-png.flaticon.com/512/16/16666.png" alt="half star">
                            <img src="https://cdn-icons-png.flaticon.com/512/16/16666.png" alt="half star">
                            <img src="https://cdn-icons-png.flaticon.com/512/16/16666.png" alt="half star">
                            <img src="https://cdn-icons-png.flaticon.com/512/16/16666.png" alt="half star">
                            <img src="https://cdn-icons-png.flaticon.com/512/16/16666.png" alt="half star">
                        }
                        <ng-container *ngFor="let star of getStarRating(productInfo.rate)">
                            <img *ngIf="star === 'full'" src="https://cdn-icons-png.flaticon.com/512/9715/9715468.png" alt="full star">
                            <img *ngIf="star === 'half'" src="https://cdn-icons-png.flaticon.com/512/2107/2107737.png" alt="half star">
                        </ng-container>
                    </div>
                </div>
                <section class="container_prices">
                    <span class="price_title"> <span class="price_subtitle">precio Base:</span> {{productInfo.price | currency}}</span>
                    <span class="price_total"> Preco Total: {{calculationPrice(productInfo.price, productInfo.cantiSelect) | currency}}  </span>
                </section>
                <section class="container_count">
                    <span> <strong>Disponibles:</strong>  {{productInfo.count}}</span>
                    <input class="container_count_input"  type="number" [(ngModel)]="productInfo.cantiSelect" (change)="onChangeCantidad(productInfo)" >
                </section>
                <span> <strong>Categoria:</strong> {{productInfo.category}} </span>
            </section>
     
            <section class="buy_product">
                <button>Comprar</button>
            </section>
        </section>

        <section  class="contenet_descrition">
            <h3>descripcion</h3>
            <textarea disabled>{{productInfo.description}}</textarea>
        </section>

    </div>
</div>

