<div class="container_footer">
    <div class="container_inf">

        <div class="container_about">
           <!-- <div class="container_about_img">
               <img class="img_abot" src="/assets/imgs/myPerson.png" alt="img">
           </div>
            -->
           <div class="contaner_about_info">
                <p>Desarrollado por Jose Angel Alvarez- <a href="mailto:jose.albelt1817@gmail.com                    ">jose.albelt1817gmail.com</a></p>
                <!-- <p>Visita mi portafolio: <a href="https://tuportafolio.com">tuportafolio.com</a></p> -->
                <p>Sígueme en <a href="https://github.com/joseAL520">GitHub</a> y <a href="https://www.linkedin.com/in/jos%C3%A9-angel-alvarez-beltran-1488a722b/">LinkedIn</a></p>
           </div>
           
        </div>

        <div class="container_Help">
            <h3 class="title">Ayuda</h3>
            <p>1-814-251-9966 (Text)</p>
            <p>helpdasdasdwasd.com</p>
            <p>Returns/Exchanges</p>
            <p>FAQ/Contact Us</p>
            <p>Afterpay</p>
        </div>

    </div>

    <div class="line"></div>

    <div class="container_copyright">
        <div class="container_logo">
            <img class="container_logo_img" src="https://cdn-icons-png.flaticon.com/512/63/63966.png" alt="logo">
        </div>    
        
        <div class="contaner_copyright_inf">
            <p>&copy; 2024 Jose Angel. Todos los derechos reservados.</p>
            <p>Este sitio web es una muestra de mis habilidades en desarrollo web. Los contenidos, el diseño y el código están protegidos por derechos de autor. Cualquier uso no autorizado, reproducción o distribución de este material está estrictamente prohibido.</p>
            <p>Para consultas o colaboraciones, por favor contacta a <a href="mailto:tuemail@dominio.com">tuemaildominio.com</a>.</p>
        </div>
       
        <div class="contaner_solcialRed">
            <a href="">
                <img class="icon_social" src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="icon">
            </a>

            <a href="">
                <img class="icon_social" src="https://cdn-icons-png.flaticon.com/512/5968/5968958.png" alt="icon">
            </a>

            <a href="">
                <img class="icon_social" src="https://cdn-icons-png.flaticon.com/512/1384/1384037.png" alt="icon">
            </a>

        </div>
    </div>
</div>