.container_menu {
    background-color: #1E201E;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}

.nav_cotainer{
    display: flex;
    gap: 20px;
}

.containerLog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_logo{
    flex-shrink: 0; 
    background-color: white;
    margin: 0px 10px;
    padding: 7px;
    border-radius: 50%;
}
.container_logo_img{
    width: 45px;
    height: 45px;
}
.title_logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_nav {
    display: flex; 
    align-items: center; 
}

.nav_link {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    border-bottom: solid 2px white;
    padding: 10px;
    margin: 0; 
}

.containe_option {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.login_User{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.line{
    border: 1px solid black;
    width: 0px;
    height: 60px;
}
  
.btn-panel{
    background-color: rgba(255, 255, 255, 0.39);
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
}
.btn-fav{
    background-color: rgba(255, 255, 255, 0.39);
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
img{
    object-fit: contain;
}

.login_cerrar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav_cotainer, .containe_option {
        display: none; /* Ocultar inicialmente */
    }
    .menu-toggle {
        display: block; /* Mostrar el botón de menú */
    }
    .nav_cotainer.active, .containe_option.active {
        display: flex; /* Mostrar cuando el menú esté activo */
        width: 100%;
        background-color: #1E201E;
    }
    .span_email{
        display: none;
    }
    .container_menu{
        display: flex;
        justify-content: flex-start;
    }
    .title_logo{
        display: none;
    }
}