
<div class="container_menu">

    <div class="containerLog">
        <div class="container_logo">
            <img class="container_logo_img" src="https://cdn-icons-png.flaticon.com/512/63/63966.png" alt="logo">
        </div>
        <p class="title_logo">вента</p>
    </div>

    <div class="container_nav" *ngFor="let item of sideBarItem">
        <button class="nav_link" [routerLink]="item.url" >{{item.label}}</button>
    </div>

    <div class="containe_option">
        <section>User</section>
        <section>favoritos</section>
    </div>

</div>


<router-outlet></router-outlet>
<app-footer></app-footer>