
<div class="slider">
    <div class="slider-track">

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>1</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>2</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>3</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>4</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>5</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>6</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>7</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>8</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>9</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <!-- 9  -->

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>1</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>2</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>3</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>4</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>5</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>6</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>7</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>8</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

        <div class="slide">
            <img 
            src="https://images.unsplash.com/photo-1722603037481-6f6f7bf852fa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="icon">
            <div class="proyect_hover">
                <div class="contaner-parrafo">
                    <h3>9</h3>
                    <p>dasdasd</p>
                </div>
            </div>
        </div>

    </div>
</div>


