*{
    color: black;
}
.container_carusel{
    padding: 20px 0px;
    background-color: #3C3D37;
    text-align: center;
}

.containre_ecommer{
    margin: 20px 50px;
}

@media (max-width: 720px) {
    .container_carusel{
        display: none;
    }
}