<div class="container">
    <div class="container_parrag">
        <h1 class="title">Sobre Nosotros</h1>
        <p class="subtitle">
            ¡Bienvenidos a <span class="venta_lag">вента</span>!
        </p> 
    </div>
    <hr>
    <div class="container_info">
        <p class="infor">
            En <strong>вента</strong>, nos dedicamos a ofrecer una experiencia de compra en línea inigualable, 
            proporcionando una amplia variedad de productos de alta calidad a precios competitivos. 
            Nuestro objetivo es hacer que tus compras sean fáciles, seguras y satisfactorias, desde la comodidad de tu hogar.
        </p>

        <img 
        src="https://images.unsplash.com/photo-1605902711834-8b11c3e3ef2f?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="img">
    </div>

    <div class="container_info">
        <img 
        src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="img">
        <p class="infor">
            <span class="subtitle_mision">Nuestra Misión</span> <br>
            Nuestra misión es convertirnos en tu tienda en línea de confianza, donde puedes encontrar todo lo que necesitas, desde electrónicos y moda hasta artículos para el hogar y mucho más. Nos esforzamos por brindarte productos de las mejores marcas, asegurando siempre la máxima calidad y satisfacción.
        </p>
    </div>
    <hr>

    <div class="contaner_info_val">
        <h2>Nuestros Valores</h2>
        <ul>
            <li>Calidad: Nos comprometemos a ofrecer productos que cumplan con los más altos estándares de calidad.</li>
            <li>Servicio al Cliente: Tu satisfacción es nuestra prioridad. Estamos aquí para ayudarte en cada paso de tu experiencia de compra.</li>
            <li>Innovación: Nos mantenemos a la vanguardia de las tendencias y tecnologías para mejorar continuamente nuestra plataforma y tu experiencia de usuario.</li>
            <li>Confianza: Valoramos la confianza que depositas en nosotros y trabajamos arduamente para mantenerla mediante transacciones seguras y políticas claras.</li>
        </ul>
        <img 
            src="https://images.unsplash.com/photo-1556741568-055d848f8bfd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="img"
        >
    </div>

    <hr>

    <div class="contaner_info_eleg">
        <h2>¿Por Qué Elegirnos?</h2>
        <ul>
            <li>Amplia Variedad: Encontrarás una extensa gama de productos en diferentes categorías.</li>
            <li>Precios Competitivos: Ofrecemos precios justos y promociones exclusivas.</li>
            <li>Envío Rápido y Seguro: Garantizamos que tus pedidos lleguen a tiempo y en perfectas condiciones.</li>
            <li>Atención Personalizada: Nuestro equipo de atención al cliente está disponible para resolver tus dudas y asistirte en todo lo que necesites.</li>
        </ul>
        <img 
            src="https://images.unsplash.com/photo-1573912381880-59a77f95883b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="img"
        >
    </div>

</div>