
<div class="container">
    <h1 style="text-align: center;" >Contacta con nosotros</h1>
    <br>
    <p style="text-align: center;">Anim aliqua reprehenderit nulla anim. Irure reprehenderit anim minim tempor et adipisicing id fugiat. Deserunt eu eiusmod exercitation ipsum ad voluptate. Mollit deserunt nostrud et exercitation. Eiusmod veniam esse consectetur do commodo non adipisicing minim. Est minim veniam officia nulla.</p>
</div>


<div class="container_contac">

    <div class="container_inf">
        <section class="container_info container_number">
            <div class="content_img">
                <img src="https://cdn-icons-png.flaticon.com/512/0/191.png" 
                alt="img">
            </div>
            <span>+57 301513123123</span>
        </section>
        <section class="container_info container_email">
            <div class="content_img">
                <img src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png" 
                alt="img">
            </div>
            <span>correogasd.com</span>
        </section>
    </div>

    <div class="container_email_form">
            <h3 style="text-align: center; padding: 10px 0px;">contactanos</h3>
            <hr style="height: 2px; background-color: black; border: none; border-radius: 50%;">
        <form action="" class="content_form">

            <div class="input_field">
                <input type="text">
                <label >Nombre</label>
            </div>

            <div class="input_field">
                <input type="text">
                <label >Apellido</label>
            </div>
            <div class="input_field">
                <input type="text" class="input_correo">
                <label >Correo</label>
            </div>

            <textarea name="" id=""></textarea>
        </form>
        <button >Enviar</button>
    </div>
    
</div>