/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
}

:root{
      --colorPrimary : #1E201E;
      --colorSecu: #3C3D37;
      --colorTerc:  #697565;
      --colorCuart: #ECDFCC;
}