*{
    color: black;
}
.container{
    min-height: 45vh;
    min-width:  50vh;
    border: 2px solid black;
    margin: 70px 140px;
    border-radius: 20px;
}

.content_login{
    display: flex;
}

.content_img{
    display:flex ;
}

.img_login{
    width: 542px;
    height: 539px;
    object-fit: cover;
    border-radius:0px 17px 17px 200px;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.2)
}

.content_login_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
}

.img_logo{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.label_welcome{
    font-size: 20px;
}

.input_box{
   position: relative;
   width: 340px;
   height: 50px;
   margin: 20px 0;
}

.input_box input{
    width: 100%;
    height: 40%;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.555);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input_box img{
    width: 30px;
    height: 30px;

    position: absolute;
    top: 15px;
    right: -45px
}

.login_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn_submit{
    width: 200px;
    padding: 15px;
    font-size: 15px;
    border-radius: 40px;
    margin: 30px 0px;
    border: 1px solid #d1d1d1d9;
    cursor: pointer;
}


.text-validator{
    font-size: 12px;
    color: rgba(255, 0, 0, 0.603);
    padding: 3px 10px;
    margin-left: 30px;
}


@media (max-width: 720px) {
   
    .container{
        margin: 10px;
        border: none;
    }
    .content_login{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 100px;
        margin: 20px;
        border: 2px solid black;
        border-radius: 10%;
    }
    .content_img{
        display: none;
    }   
    .content_login_form{
        display: flex;
        margin: 10px;
    }
    .img_login{
        display: none;
    }
    
    .input_box input {
        width: 80%;
    }
    .input_box img{
        right: 20px;
    }
}