
<div class="container">

    <div class="content_login">
        
    
        <div class="content_login_form" >
            <img class="img_logo" src="https://cdn-icons-png.flaticon.com/512/63/63966.png" alt="logo">
            <form class="login_form" [formGroup]="myForm" (ngSubmit)="onSave()" >
                <label class="label_welcome">Bienvenido a вента</label>
                <div class="input_box">
                    <input type="text"  placeholder="Correo" formControlName="email" >
                    <img src="https://cdn-icons-png.flaticon.com/512/17041/17041169.png" alt="img User">
                    <span class="containr-form text-validator" *ngIf="isValidField('email')">
                        {{ getFieldError('email') }}
                    </span>
                </div>
                <div class="input_box">
                    <input type="password" placeholder="Contraseña" formControlName="password" >
                    <img src="https://cdn-icons-png.flaticon.com/512/3416/3416040.png" alt="img password">
                    <span class="containr-form text-validator" *ngIf="isValidField('password')">
                        {{ getFieldError('password') }}
                    </span>
                </div>
                <div class="input_box">
                    <input type="password" placeholder="Contraseña" formControlName="password2" >
                    <img src="https://cdn-icons-png.flaticon.com/512/3416/3416040.png" alt="img password">
                    <span class="containr-form text-validator" *ngIf="isValidField('password2')">
                        {{ getFieldError('password2') }}
                    </span>
                </div>
                <button type="submit" class="btn_submit">Registrarme</button>
            </form>
        </div>

        <div class="content_img">
            <img 
            src="https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            class="img_login"
            alt="img"
            >
        </div>
    </div>    
</div>

<!-- src="https://images.unsplash.com/photo-1539278383962-a7774385fa02?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  -->
